

#--------------------------------------------------------------
#
#   Common
#
alias h='history'

alias hsrv='ssh root@5.128.60.74'
alias wsrv='ssh root@192.168.0.50' 
alias wsrv-git='ssh git@192.168.0.50'

#--------------------------------------------------------------
#
#   ls
#
alias ls='ls -lh --file-type --color --group-directories-first'
alias l='ls -X'     # sort by extension
alias lk='ls -S'    # sort by size
alias lu='ls -ur'   # sort by access time
alias lc='ls -cr'   # sort by modification time
alias ..='cd ..'
alias ..l='cd ..; l'
alias la='l -A'


#--------------------------------------------------------------
#
#   Git
#
alias g='git'
alias gst='g status'
alias gb='g branch'
alias gitka='gitk --all'

#--------------------------------------------------------------
#
#   
#
function ff() { find . -type f -iname '*'$*'*' -ls ; }


