

#--------------------------------------------------------------
#
#   Common
#
#alias h='history'
alias mv='nocorrect mv -i'    # no spelling correction on mv, prompt before overwrite
alias cp='nocorrect cp -iR'   # no spelling correction on cp, prompt before overwrite, recursive
alias mkdir='nocorrect mkdir' # no spelling correction on mkdir
alias j=jobs
alias pu=pushd
alias po=popd
alias d='dirs -v'

# List only directories and symbolic
# links that point to directories
alias lsd='ls -ld *(-/DN)'

# List only file beginning with "."
alias lsa='ls -ld .*'


alias hsrv='ssh root@5.128.60.74'
alias wsrv='ssh root@192.168.0.50' 
alias wsrv-git='ssh git@192.168.0.50'

#--------------------------------------------------------------
#
#   ls
#
alias ll='ls -lh --file-type --color --group-directories-first'
alias l='ll -X'     # sort by extension
alias lk='ll -S'    # sort by size
alias lu='ll -ur'   # sort by access time
alias lc='ll -cr'   # sort by modification time
alias ..='cd ..'
alias ..l='cd ..; l'
alias la='l -A'

#--------------------------------------------------------------
#
#   Misc
#



#--------------------------------------------------------------
#
#   Git
#
alias g='git'
alias gst='g status'
alias gb='g branch'
alias gitka='gitk --all'

#--------------------------------------------------------------
#
#   
#
function ff() { find . -type f -iname '*'$*'*' -ls ; }

h() {
  if [[ -z "$1" ]]; then
    history
  else
    history 0 | grep "$*"
  fi
}

