[Desktop Entry]
Version=1.0
Type=Application
Name=ReGet Deluxe
Icon=C54F_regetdx.0
Exec=/home/hz/bin/reget.sh
NoDisplay=false
Categories=Utility;
StartupNotify=false
Terminal=false
